<?xml version="1.0"?>

<launch>

  <env
        name="ROSCONSOLE_CONFIG_FILE"
        value="$(find beginner_tutorials)/config/beginner_tutorials_config.conf"
  />

  <arg name = "frequency" default = "20" />
  <arg name = "record_all" default = "false" />

  <!-- Talker Node -->
  <node 
  name = "talker"
  type = "talker"
  pkg = "beginner_tutorials"
  output = "screen"
  args = "$(arg frequency)"
  />

  <!-- Listener Node -->
  <node
  name="listener"
  type="listener"
  pkg="beginner_tutorials"
  output="screen"
  launch-prefix="gnome-terminal --command"
  />

  <!-- Rosbag -->
  <node
  name="rosbag_record_all"
  type="record"
  pkg="rosbag"
  args="--all --output-name=$(find beginner_tutorials)/results/record_all.bag"
  if="$(arg record_all)"
  />
</launch>